{% extends "base.html" %}

{% block title %}Recuperar Senha{% endblock %}

{% block content %}
<div class="container">
    <h2 class="text-center">Recuperar Senha</h2>
    <form action="/forgot_password" method="POST">
        <p class="text-center">Digite seu e-mail para recuperar sua senha.</p>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" name="email" placeholder="Digite seu e-mail" required>
        </div>
        <button type="submit" class="btn btn-primary btn-block">Enviar</button>
        <p class="text-center">Lembrou sua senha? <a href="{{ url_for('login') }}">Entrar</a></p>
    </form>
</div>
{% endblock %}