<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <div class="container">
    <h2>Login</h2>
    <form action="/" method="POST">
      <p>Digite seu nome de usuário e selecione uma cor!</p>
      <div class="user-input">
        <label for="username">Insira seu nome:</label>
        <input type="text" id="username" name="username" placeholder="Digite seu nome" required>
        <label for="password">Insira sua senha:</label>
        <input type="password" id="password" name="password" placeholder="Digite sua senha" required>
        <div class="color-picker" id="color-picker">
          <input type="color" name="color" id="color-input" value="#000000" required>
        </div>
        <button type="submit">Entrar</button>
      </div>
      <p>Não tem uma conta? <a href="{{ url_for('register') }}"> Cadastre-se aqui</a></p>
      <p>Esqueceu sua senha? <a href="{{ url_for('forgot_password') }}">Recuperar senha</a></p>
    </form>
  </div>
  <script>
    const colorPicker = document.getElementById('color-picker');
    const colorInput = document.getElementById('color-input');
    colorPicker.addEventListener('click', () => {
      colorInput.click();
    });
    colorInput.addEventListener('input', () => {
      colorPicker.style.backgroundColor = colorInput.value;
    });
  </script>
</body>
</html>