{% extends "base.html" %}

{% block title %}Cadastro{% endblock %}

{% block content %}
<div class="container">
    <h2 class="text-center">Cadastro</h2>
    <form id="register-form" action="/register" method="POST">
        <p class="text-center">Digite seus dados de cadastro.</p>
        <div class="form-group">
            <label for="username">Nome</label>
            <input type="text" class="form-control" id="username" name="username" placeholder="Digite seu nome" required>
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" name="email" placeholder="Digite seu email" required>
        </div>
        <div class="form-group">
            <label for="password">Senha</label>
            <input type="password" class="form-control" id="password" name="password" placeholder="Digite sua senha" required>
        </div>
        <div class="form-group">
            <label for="password-confirm">Confirmar Senha</label>
            <input type="password" class="form-control" id="password-confirm" name="password-confirm" placeholder="Confirme sua senha" required>
        </div>
        <button type="submit" class="btn btn-primary btn-block">Cadastrar</button>
        <p class="text-center">Já possui uma conta? <a href="{{ url_for('login') }}">Entrar</a></p>
    </form>
</div>
<script>
    document.getElementById('register-form').addEventListener('submit', function(event) {
        const password = document.getElementById('password').value;
        const passwordConfirm = document.getElementById('password-confirm').value;
        if (password !== passwordConfirm) {
            event.preventDefault();
            alert('As senhas não correspondem. Por favor, tente novamente.');
        }
    });
</script>
{% endblock %}