<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Redefinir Senha</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <div class="container">
    <h2>Redefinir Senha</h2>
    <form id="reset-password-form" action="" method="POST">
      <p>Digite sua nova senha:</p>
      <div class="user-input">
        <label for="password">Nova Senha</label>
        <input type="password" id="password" name="password" placeholder="Digite sua nova senha" required>
        <label for="password-confirm">Confirmar Senha</label>
        <input type="password" id="password-confirm" name="password-confirm" placeholder="Confirme sua nova senha" required>
        <button type="submit">Redefinir</button>
      </div>
    </form>
  </div>
  <script>
    document.getElementById('reset-password-form').addEventListener('submit', function(event) {
      const password = document.getElementById('password').value;
      const passwordConfirm = document.getElementById('password-confirm').value;

      if (password !== passwordConfirm) {
        event.preventDefault();
        alert('As senhas não correspondem. Por favor, tente novamente.');
      }
    });
  </script>
</body>
</html>